## 📚 Librerías utilizadas

### Manipulación de datos
- pandas
- numpy

### Web Scraping y descarga de PDFs
- requests
- selenium
- webdriver_manager
- beautifulsoup4
- pymupdf
- camelot
- tabula-py

### Limpieza y utilidades
- os
- json
- re
- glob
- warnings

### Persistencia en PostgreSQL
- psycopg2
- sqlalchemy

### Modelado predictivo (Machine Learning)
- scikit-learn:
  - train_test_split
  - RandomForestClassifier
  - RandomForestRegressor
  - classification_report
  - StandardScaler
  - PCA
  - metrics

### Series temporales
- prophet

### Visualización
- matplotlib
- seaborn
- plotly

### Jupyter Notebook
- IPython.display
- tqdm
```
